
.itemDetail{

    width: 100%;
    height: 100%;
    display: flex;

}

.imgDetail{
    
    margin: 2%;
}

.itemTitle{

    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;

}

span{

    color: white;
    background-color: #e0cfbd;
    padding: .5%;

}

