
.AsideBar{

    font-family: 'Courier New', Courier, monospace;
    width: 15vw;
    height: 60vh;
    background-color: #e0cfbd;
    color: white;
    
}

.AsideBar h2{

    font-size: 3vh;
    padding: 0 20px;

}

.AsideBar-list{
    
    margin: auto;

}


.AsideBar-list  li{
    
    font-size: 3vh;
    color: white;
    list-style: none;
    padding: 5px;

}

.AsideBar-list a{

    text-decoration: none;

}

.AsideBar-list li:hover{

    color: black;

}
